 <p id="notice"><%= notice %></p>
   
  <p>
    <b>Nome:</b>
    <%= @user.nome %>
  </p>
   
  <p>
    <b>Sobrenome:</b>
    <%= @user.sobrenome %>
  </p>
   
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
   
   <p>
    <b>Telefone:</b>
    <%= @appwebexemp.telefone %>
  </p>
   
  <%= link_to 'Editar', root_path %> |
 
  